
.App {
  margin: 10px;

}
body{
  margin: 0;
}
.post {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  border: 2px solid gray;
  background-color: antiquewhite;
}

.post__btns {
  padding: 10px;
}

.post-enter {
  opacity: 0;
}

.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.list {
  margin: 20px;
}